/* -------------------------------------------------------------------------- */
/*
 *  MAIN
 */
.main-container {
    background-color: #68B0AB;
    opacity: 0.5;
    padding-bottom: 1%;
}
.banner-container {}
.banner-container img {
    margin: 0 auto;
    display: block;
    width: 60%;
}
.box-container {
    margin: 1% 15% 0 15%;
}
.box {
    margin: 0 auto;
    display: block;
    color: white;
}
.title {
    background-color: #8FC0A9;
    margin: 0 2%;
    padding: 3%;
}
.content {
    background-color: white;
    color: #8FC0A9;
    margin: 0 2%;
    padding: 3%;
}