/* -------------------------------------------------------------------------- */
/*
 *  MAIN
 */
.main-container {
    background-color: #FCF6DC;
    padding-bottom: 1%;
}
.banner-container {}
.banner-container img {
    margin: 0 auto;
    display: block;
    width: 80%;
    max-height: 200px;
}
.box-container {
    margin: 1% 15% 0 15%;
}
.box {
    margin: 0 auto;
    display: block;
    color: white;
}
.title {
    background-color: #E5CF70;
    margin: 0 2%;
    padding: 3%;
}
.title span:first-child {
    font-size: 1.75em;
}
.title span:last-child {
    font-weight: bold;
    font-size: 2.25em;
}
.content {
    background-color: white;
    color: #8FC0A9;
    margin: 0 2%;
    padding: 3% 3% 5% 3%;
}
.button {
    background-color: #9DBDD3;
    padding: 3%;
}