h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.5em;
}
p {
    font-size: 1.25em;
}

.main-container {
    background-color: #DFEBF2;
    padding: 1% 0;
}
.main {
    margin-left: 15%;
}
.breadcrumb {
    font-size: 1.25em;
}
.breadcrumb a {
    color: black;
}
.box {
    width: 30%;
    background-color: white;
    padding: 0 1% 1% 1%;
    margin-right: 5%;
}
.box a {
    color: black;
}
.box img {
    width: 10%;
    float: right;
}
#calendar-table {
    border-spacing: 10px;
    border: 1px solid black;
    width: 100%;
    margin-left: 2%;
    padding-right: 10%;
}
#calendar-table td:first-child {
    width: 15%;
    text-align: right;
}
#calendar-table td:last-child {
    background-color: white;
    padding: 1%;
    border: 1px solid black;
}
#calendar-table img {
    width: 4%;
    float: right;
    margin: 0 2% 2% 0;
}
#calendar-table p {
    font-size: 1.5em;
}

.right-sidebar {
    margin-left: 3%;
    background-color: white;
}
.title {
    background-color: #E5CF70;
    padding: 5%;
    color: white;
}
.content {
    background-color: white;
    color: #8FC0A9;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.content li a {
    color: black;
    width: 100%;
    display: block;
    padding: 3%;
    font-size: 1.75em; 
    border-top: 1px solid #EBEFF2;
}
.content li a:hover {
    color: white;
    background-color: #FFE066;
}