h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.5em;
}
p {
    font-size: 1.25em;
}

.main-container {
    background-color: #DFEBF2;
    padding: 2% 0;
}
.main {
    padding: 0 2%;
}
.breadcrumb {
    font-size: 1.25em;
}
.breadcrumb a {
    color: black;
}
.box {
    width: 100%;
    background-color: white;
    padding: 0 1% 1% 1%;
    margin-right: 5%;
    margin-bottom: 2%;
}
.box a {
    color: black;
}
.box img {
    width: 10%;
    float: right;
}
#calendar-table {
    border-spacing: 10px;
    border: 1px solid black;
    width: 100%;
}
#calendar-table td:first-child {
    width: 15%;
    text-align: right;
}
#calendar-table td:last-child {
    background-color: white;
    padding: 1%;
}
#calendar-table p {
    font-size: 1.5em;
}

.right-sidebar {
    background-color: white;
}
.title {
    background-color: #E5CF70;
    padding: 5%;
    color: white;
}
.content {
    background-color: white;
    color: #8FC0A9;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.content li a {
    color: black;
    width: 100%;
    display: block;
    padding: 3%;
    font-size: 1.75em; 
    border-top: 1px solid #EBEFF2;
}
.content li a:hover {
    color: white;
    background-color: #FFE066;
}

/* -------------------------------------------------------------------------- */
/*
 *  RESPONSIVE
 */

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main-container {
        padding: 1% 0;
    }
    .main {
        margin-left: 15%;
        padding: 0;
    }
    .box {
        width: 45%;
        margin-bottom: 0;
    }
    
    .right-sidebar {
        margin-left: 3%;
    }
}

/* Tablet Landscape / Desktop */
@media screen and (min-width: 1024px) {
    .main-container {
        padding: 1% 0;
    }
    .main {
        margin-left: 15%;
        padding: 0;
    }
    .box {
        width: 30%;
        margin-bottom: 0;
    }
    
    .right-sidebar {
        margin-left: 3%;
    }
}