.main-container {
    background-color: #DFEBF2;
}
.main {
    border: 1px solid red;
    margin: 0 15%;
    padding: 1% 0;
}
.box {
    width: 30%;
    background-color: white;
    padding: 0 1%;
    margin-right: 5%;
}
.right-sidebar {
    border: 1px solid red;
    background-color: white;
    padding: 5%;
}